---
// Logo Igni Digital
---

<a href="/" class="flex items-center">
  <img
    src="https://i.ibb.co/35Hm9fQW/ignidigital-semfundo.png"
    alt="Igni Digital"
    class="h-10 w-auto"
    width="160"
    height="40"
  />
</a>
